
### Default ignored files ###
/shelf/
/workspace.xml

### ditor-based HTTP Client requests ###
/httpRequests/

### Datasource local storage ignored files ###
/dataSources/
/dataSources.local.xml
target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
target/
out/
*.class
*persistence.hml*
*voteHibernate.iml*
